*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background: #eee;
    --shadow: 0 2rem 5rem 0 rgba(0,0,0,0.2);
}

html{
    font-size: 62.5%;
}

body{
    padding: 4rem;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header header header"
        "info info content content content"
        "info info content content content"
        "info info content content content"
        "footer footer footer footer footer";
        gap: 2rem;
}

.header{
    grid-area: header;
    background:var(--background) ;
    box-shadow: var(--shadow);
}

.content{
    grid-area: content;
    background:var(--background) ;
    box-shadow: var(--shadow);
}

.information{
    grid-area: info;
    background: var(--background);
    box-shadow: var(--shadow);
}

.footer{
    grid-area: footer;
    background: var(--background);
    box-shadow: var(--shadow);
}

@media  (max-width: 50rem) {
    body{
        grid-template-rows: 10rem repeat(5,20rem) 10rem;
        grid-template-areas:
        "header header header header header"
        "info info info info info"
        "info info info info info"
        "content content content content content"
        "content content content content content"
        "content content content content content"
        "footer footer footer footer footer";
    }
}


