*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 1rem is standaard 16 pixels => na het 62.5 % verander je het naAR 10 pixels*/
}

body{
    padding: 4rem;
    background: #eee;
    font-size: 2rem;
    font-family: sans-serif;
}

.dashboard{
    width: 100%;
    height: 85vh;
   
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}

.section--first{
    grid-column: 1/6;
    grid-row:span 13;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    padding-top:0 ;
    padding-bottom: 2rem;
}

.section--second{
    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    background: #eee;
    height: 50%;
    width: 48%;
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
}

.card--first{
    font-size:250% ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card--second{
    display: flex;
    justify-content: center;
    align-items: center;
}



.section--second{
    grid-column: 6/13;
    grid-row: span 13;
    background: #eee;
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
}
@media screen and (max-width: 87.5rem) {
    .dashboard{
        grid-template-rows: repeat(12,20rem);
        height: auto;
        gap: 2rem;
    }

    .section--first{
        grid-column:1/-1 ;
        grid-row: 1/7; 
        padding: 0;
        padding-bottom: 2rem;
        padding-right: 0;
        
    }
    .card{
        flex-grow: 1;
    }

    .section--second{
        grid-column:1/-1 ;
        grid-row: 7/13; 
    }


}